@import url('./blog-card.css');
@import url('./home-page.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./blog-page.css');

html {
    font-family: 'Roboto', sans-serif;
    color: #3D4548;
    background-color: #ecfffb;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.social-svg {
    height: 20px;
    width: 20px;
}

p {
    line-height: 1.8;
    letter-spacing: 5%;
}
.italic-text{
    font-style: italic;
}
.underline-text{
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: inherit;
    transition: .5s ease-in-out;
}

a:hover {
    color: lightgrey;
}


li, ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
}

.site-body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
}

.content-area {
    grid-row: 2;
    margin: 0 200px 0 200px;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
}


.site-footer {
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.section-title {
    font-weight: medium;
    padding-bottom: 20px;
    align-self: flex-end;
}





@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .content-area {
        margin: 0 10px 0 10px;
        grid-template-rows: .5fr 10fr 1fr;
    }
}
@media only screen and (min-width: 481px) and (max-width: 921px) {

    .content-area {
        margin: 0 10px 0 10px;
        grid-template-rows: .5fr 10fr 1fr;
    }


}




